{% extends "base.html.twig" %}

  {% block header %}
      <!-- Header -->
      <header class="masthead">
          <div class="container">
              <div class="intro-text">
                  <div class="intro-lead-in">Welcome To Chick Click!</div>
                  <div class="intro-heading text-uppercase">WELCOM TO FASHION EVENTS</div>
              </div>
          </div>
      </header>

  {% endblock %}
{% block other %}

<section class="bg-light page-section" id="portfolio">

</section>
{% endblock  %}